
<<<<<<< HEAD
.titreSiteFont {
	font-size:20px !important;
}
.logo {
	margin-top:7px;
}
=======
#produits {
	margin-top: 20px;
}
#pave {
	margin-bottom: 20px;
	border : 1px solid #f0f1f0;
	text-align: center;
	padding : 5px 5px 5px 5px;
}


>>>>>>> 22437051838e12782c5a83a3f469a0e57988ae04
